HelloWorld/
HelloWorld.Tests/
MyFullMVC/
packages/
HelloWorld.sln
MyFullMVC.sln
BirthdayCard/
BirthdayCard/BirthdayCard/bin/
BirthdayCard/BirthdayCard/obj/
BirthdayCard/packages/
TheLearningCenter/bin/
TheLearningCenter/obj/
TheLearningCenter.Tests/bin/
TheLearningCenter.Tests/obj/
TheLearningCenter/Scripts/