HelloWorld/
HelloWorld.Tests/
MyFullMVC/
packages/
HelloWorld.sln
MyFullMVC.sln
BirthdayCard/
BirthdayCard/BirthdayCard/bin/
BirthdayCard/BirthdayCard/obj/
BirthdayCard/packages/
TheLearningCenter/bin/
TheLearningCenter/obj/
TheLearningCenter.Tests/bin/
TheLearningCenter.Tests/obj/
TheLearningCenter/Scripts/
TheLearningCenter1/packages/
TheLearningCenter1/TheLearningCenter/bin/
TheLearningCenter1/TheLearningCenter/obj/
TheLearningCenter1/TheLearningCenter.Business/bin/
TheLearningCenter1/TheLearningCenter.Business/obj/
TheLearningCenter1/TheLearningCenter.Repository/bin/
TheLearningCenter1/TheLearningCenter.Repository/obj/
TheLearningCenter1/TheLearningCenter.SchoolDatabase/bin/
TheLearningCenter1/TheLearningCenter.SchoolDatabase/obj/
TheLearningCenter1/TheLearningCenter.Tests/bin/
TheLearningCenter1/TheLearningCenter.Tests/obj/
TheLearningCenter1/stopped-here.txt
TheLearningCenter1/problems.txt
mini-cstructorDb.sql
WebStore/
BirthdayCard/
HelloWorld/
TheLearningCenter/
