@model TheLearningCenter.Models.ClassMasterViewModel
@{
    ViewBag.Title = "Classes Master";
}
<div>
    <h1>Classes</h1>
    <hr class='myhr'/>
</div>

<div class='container'>
    @if (Model.ClassMasters.Length > 0)
    {
        <div class='container'>
            <row>
                <div class='col-md-3 myborder mybold'>Name</div>
                <div class='col-md-7 myborder mybold'>Description</div>
                <div class='col-md-2 myborder mybold'>Price</div>
            </row>

            @foreach (var classMaster in Model.ClassMasters)
            {
                <row>
                    <div class='col-md-3  myborder'>@classMaster.Name</div>
                    <div class='col-md-7  myborder'>@classMaster.Description</div>
                    <div class='col-md-2  myborder'>@classMaster.Price</div>
                </row>
            }
        </div>
    }
    else
    {
        <h2>No class data found.</h2>
    }
</div>