@model TheLearningCenter.Models.StudentClassesViewModel[]
@{
    ViewBag.Title = "Student Classes";
}
@{

}

<!DOCTYPE html>


<div>
    <h1>Student Classes</h1>
</div>

@if (Model.Length > 0)
{
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Description</th>
                <th>Paid</th>
            </tr>
        </thead>
        @foreach (var studentClass in Model)
        {
            <tr>
                <td>@studentClass.ClassName</td>
                <td>@studentClass.ClassDescription</td>
                <td>@studentClass.ClassPaid</td>
            </tr>
        }
    </table>
}
else
{
    <h2>No classes found for this User.</h2>
}
