@model TheLearningCenter.Models.StudentClassesViewModel[]
@{
    ViewBag.Title = "Student Classes";
}
@{

}

<!DOCTYPE html>


<div>
    <h1>Student Classes</h1>
    <hr/>
</div>

<div class='container'>
    @if (Model.Length > 0)
    {
        <div class='container'>
            <row>
                <div class='col-md-3 myborder mybold'>Name</div>
                <div class='col-md-7 myborder mybold'>Description</div>
                <div class='col-md-2 myborder mybold'>Paid</div>
            </row>
            @foreach (var studentClass in Model)
            {
                <row>
                    <div class='col-md-3  myborder'>@studentClass.ClassName</div>
                    <div class='col-md-7  myborder'>@studentClass.ClassDescription</div>
                    <div class='col-md-2  myborder'>@studentClass.ClassPaid</div>
                </row>
            }
        </div>
    }
    else
    {
        <h2>No classes found for this User.</h2>
    }
</div>
